body {
  background-color: rgb(117, 161, 200);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 2%;
}
h1 {
  margin-bottom: 2%;
  background-color: rgb(177, 186, 186);
  color: red;
  padding: 1%;
  border-radius: 20px;
  display: inline-flex;
  border: 2px solid black;
}
img {
  width: 20%;
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
}
p {
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 600px;
  background-color: rgb(177, 186, 186);
  padding: 1%;
  margin: 2% auto;
  border: 2px solid black;
  border-radius: 20px;
}
